.menuContainer {
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 12px;

  /* padding: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.container {
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* position: absolute;
  z-index: 2;
  width: 100%; */
  z-index: 5;
  position: absolute;
  padding: 4px 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  top: 12px;

  left: 40%;
  /* right: 40%; */
  /* width: 100%; */
}

.icon {
  width: 18px;
  height: 18px;
}

.redoIcon {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 18px;
  height: 18px;
}
.activeMenuIcon {
  background: var(--activeIcon);
}
.inactiveMenuIcon {
  background: var(--background-white);
}
.tooltip {
  /* background-color: rgb(var(--foreground-rgb));
  color: var(--background-white); */
}

@media screen and (max-width: 640px) {
  .container {
    /* width: calc(100% - 24px); */
    left: 0px;
    right: 0px;
    margin: 0px 12px;

    /* left: 8px;
    right: 8px; */
    /* left: 50%; */
    /* left: 40%; */
    /* right: 40%; */
    /* width: 100%; */
  }
}
