.toggleBox {
  display: none;
}

.toggleText {
  color: var(--toolTextColor);
  font-family: Arial;
  font-size: 14px;
}

@media screen and (max-width: 640px) {
  .toggleBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 6px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    width: fit-content;
    border: 2px solid #e0dfff;

    margin-top: 8px;
  }
}
