.toolboxContainer {
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: absolute;
  z-index: 2;
  /* width: 100%; */

  top: 30%;
  padding: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  left: 0px;
  right: 0px;
  margin: 0px 12px;
  width: fit-content;
  border-radius: 8px;
  background: var(--colorBox);
}
.red {
  background-color: var(--background-red);
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.blue {
  background-color: var(--background-blue);
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.orange {
  background-color: var(--background-orange);
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.yellow {
  background-color: var(--background-yellow);
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.black {
  background-color: rgb(var(--foreground-rgb));
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.green {
  background-color: var(--background-green);
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.red:hover,
.black:hover,
.blue:hover,
.green:hover,
.yellow:hover,
.orange:hover,
.green:hover {
  cursor: pointer;
  border-radius: 4px;
  padding: 4px;
  border: 2px solid var(--background-white);
}

.toolItem {
  width: 100%;
}

.toolContainer {
  flex-wrap: wrap;
}

.toolText {
  color: var(--toolTextColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.activeDrawIcon {
  background: var(--activeIconRGB);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* border: 1px solid var(--activeIconRGB); */
  border-radius: 4px;
}

.inactiveDrawIcon {
  background: none;
}
