.popover {
  display: none;
}

.popoverText {
  color: var(--toolTextColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

@media screen and (max-width: 640px) {
  .popover {
    display: block;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: fit-content;
    /* position: absolute;
      z-index: 2;
      width: 100%; */
    /* z-index: 2; */
    z-index: 1;
    position: absolute;
    /* padding: 4px 12px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    top: 70px;
    left: 0px;
    right: 0px;
    margin: 0px 12px;
  }

  .button {
    background-color: var(--background-white);
    min-width: 32px;
    padding: 6px 10px;
  }
  .button:hover {
    background-color: var(--activeIcon);
  }
  .icon {
    color: rgb(var(--foreground-rgb));
  }
}
